# vim: set syntax=nginx:
server {
  listen 80;
  server_name _;

  root /usr/share/nginx/html;
  #index index.html;

  location / {
    try_files $uri $uri/ /index.html;
  }

  location /elastic/ {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://elastic:9200/;
  }

  location /api/ {
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_pass http://server:8080/;
  }
}
